<button (click)="renderLogin()"
        [ngClass]="['btn_main']"
        appHover>
  Login
</button>
<button (click)="renderRegister()"
        [ngClass]="['btn_main']"
        appHover>
  Register
</button>
<button (click)="renderCreateFlat()"
        [ngClass]="['btn_main']"
        appHover>
  Create Flat
</button>


<app-register-component
  (registerUser)="registration($event)"
  *ngIf="visabilityRegister">
</app-register-component>
{{messageRegister}}

<app-login-component
  (loginUser)="logination($event)"
  *ngIf="visabilityLogin">
</app-login-component>
{{messageLogin}}

<app-create-flat-component
  (createFlat)="createFlat($event)"
  *ngIf="visabilityCreateFlat">
</app-create-flat-component>
{{messageCreateFlat}}

<hr>

<app-flat-component
  *ngFor="let flat of flats"
  [someFlat]="flat"
  (showMoreInfo)="showFlatInfo($event)"
  [ngClass]="['conteiners', flat.owner.is_blocked ? 'blocked' : 'unblocked']">
</app-flat-component>
